.navigation {
  display: flex;
  background: #f8e6ca;
  margin: 0 0 30px 0;
}

.item {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #65676B;
  cursor: pointer;
}

.item:hover {
  background: rgba(255, 217, 180, 0.55);
}

.active {
  color: blueviolet;
  text-decoration: none;
  padding: 20px;
}
