.main {
  width: 100%;
  display: flex;
}

.sideBar {
  width: 40%;
  background-color: #f0fffa;
}

.publications {
  background-color: #f0faff;
}

.info, .photo, .friends, .footer {
  width: 92%;
  min-height: 50px;
  border-radius: 10px;
  padding: 10px;
}

.photo, .friends, .footer {
  margin: 15px 0;
}

.info {
  background-color: aliceblue;
}

.photo {
  background-color: #d8eafa;
}

.friends {
  background-color: #f7d8fa;
}

.footer {
  background-color: #faf2d8;
}