.menu {
  display: flex;
}

.item {
  display: block;
  text-decoration: none;
  color: #65676B;
  cursor: pointer;
  padding: 20px;
}

.item:hover {
  background: rgba(177, 176, 176, 0.29);
}

.active {
  color: red;
  text-decoration: none;
  padding: 20px;
}
