.menu {
  display: flex;
}

.item {
  display: block;
  text-decoration: none;
  color: #65676B;
  cursor: pointer;
  padding: 20px;
}

.active {
  color: red;
  text-decoration: none;
  padding: 20px;
}
