.news {
	width: 60%;
	display: block;
	background: #fbe3ac;
	padding: 30px;
	margin: 0 auto 50px;
}

.header {
	display: flex;
	height: 50px;
	margin: 0 0 20px 0;
}

.image {
	height: 100%;
	border-radius: 50%;
	margin: 0 20px 0 0;
}

.name {
	font-size: 20px;
	color: #7b6c45;
	margin: 3px;
}

.date {
	font-size: 14px;
	color: #65676B;
}

.title {
	font-size: 18px;
	color: #845701;
	font-weight: bold;
	margin: 0 0 7px 0;
}

.body {
	background: #fff3df;
	border-radius: 10px;
	padding: 20px;
}

.text {
	color: #9d6a00;
	text-indent: 10px;
	margin: 0 0 20px 0;
}

.photo {
	width: 100%;
	margin: 0 0 16px 0;
}

.likes {

}
