.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ecf1eb;
  padding: 10px 15px;
  margin: 0 auto;
}

.header__logo img {
  width: 40px;
}

.header__menu {
  width: 38%;
  display: flex;
  justify-content: space-around;
}