.code {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 1fr;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: max-content;
}

.menuItem {
	text-decoration: none;
	color: #9d6a00;
}

.active {
	color: red;
	text-decoration: none;
}

.sidebar {

}

.title {
	font-size: 40px;
}

.description {
	padding: 20px;
}
