.app {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #e1daec;
}

.body {
  width: 100%;
  background-color: #ebebf1;
}

.container {
  max-width: 1095px;
  margin: 0 auto;
}