.app {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #e1daec;
}

.body {
  width: 100%;
  background-color: #ebebf1;
}

.page {
  width: 1095px;
  padding: 0;
  margin: 0 auto;
}

.main {

}

.side-bar__brief-information {
  min-width: 360px;
  min-height: 400px;
  background-color: aliceblue;
}