.app {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #e1daec;
}

.body {
  width: 100%;
  background-color: #ebebf1;
}

.container {
  max-width: 1095px;
  margin: 0 auto;
}

.page {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows:  300px 50px 400px 40px;
  gap: 15px;
  grid-template-areas:
  "info main"
  "photo main"
  "friends main"
  "footer main";
  width: 1095px;
  padding: 0;
  margin: 0 auto;
}

.info {
  /*width: 100%;*/
  /*height: 100%;*/
  grid-area: info;
  background-color: aliceblue;
}

.photo {
  /*width: 100%;*/
  /*height: 100%;*/
  grid-area: photo;
  background-color: #d8eafa;
}

.friends {
  /*width: 100%;*/
  /*height: 100%;*/
  grid-area: friends;
  background-color: #f7d8fa;
}

.footer {
  /*width: 100%;*/
  /*height: 100%;*/
  grid-area: footer;
  background-color: #faf2d8;
}