* {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: #e1daec;
}

.page {
  width: 100%;
  background-color: #ebebf1;
}

.container {
  max-width: 1095px;
  margin: 0 auto;
}
